In [1]:
import itertools
import requests
from bs4 import BeautifulSoup as soup
import re
import pandas as pd
import sqlalchemy

### Crawling Settings

In [2]:
url = "https://www.transfermarkt.com/raiffeisen-super-league/transfers/wettbewerb/C1?saison_id=2020"

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.84 Safari/537.36',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
}

### Souping

In [3]:
html_page = requests.get(url, headers = headers).text
soup_page = soup(html_page)

### Crawling Tables
Hierarchie: (Iteration Ã¼ber)
- Box
- Club Name
- Table Header
- Responsive Table (in / out)

In [4]:
# alle Club Boxen mit viel Verschmutzung
clubs = soup_page.find_all(class_="box")

# alle Clubs enthalten ein responsive table
clubs_cleaned = []
for club in clubs:
    if club.find_all(class_="responsive-table") != []:
        clubs_cleaned.append(club)

#clubs_cleaned[0]

In [5]:
# extraxt name of club

def extract_club_name(club):
    name = club.find(class_="table-header").text
    
    return name

In [6]:
#extract_club_name(clubs_cleaned[0])

In [7]:
# extract table titles of one table from one club box
def extract_titles_table_in(club):
    """ 
    Function to extract the table titles of one part of the box for one club.
    input: club as BS_item
    """
    
    temp = []
    
    titles = club.find_all(class_="responsive-table")[0] 
    titles = titles.find_all("th")
       
    for titel in titles:
        temp.append(titel.text)
    
    return pd.DataFrame(temp)

In [8]:
extract_titles_table_in(clubs_cleaned[0])

              0
0            In
1           Age
2          Nat.
3      Position
4           Pos
5  Market value
6          Left
7           Fee

In [9]:
# extract table titles of one table from one club box
def extract_titles_tables_out(club):
    """ 
    Function to extract the table titles of one part of the box for one club.
    input: club as BS_item
    """
    
    temp = []
    
    titles = club.find_all(class_="responsive-table")[1] 
    titles = titles.find_all("th")
       
    for title in titles:
        temp.append(title.text)
    
    return pd.DataFrame(temp)

In [10]:
extract_titles_tables_out(clubs_cleaned[0])

              0
0           Out
1           Age
2          Nat.
3      Position
4           Pos
5  Market value
6        Joined
7           Fee

In [ ]:

for club in clubs_cleaned:
    
    df_temp = pd.DataFrame
    
    extract_club_name(club)
    
    tables = club.find_all(class_ ="responsive-table")
    
        for table in tables
        
        extract_table_content(table)
        
        extract_titles(table)
    
    pd.Dataframe()