# Temporary File

### Create Dummy Files

## Import Libraries

In [6]:
import csv
import pandas as pd
import numpy as np

#### temp_dict_countries_ouput file

In [113]:
dict_countries = {'FC Prilly': 'Not Found', 'Bari': 'Italy', 'Hoffenheim II': 'Germany'}

with open('temp_dict_countries_output.csv', 'w') as csv_file:  
        writer = csv.writer(csv_file)
        for key, value in dict_countries.items():
            writer.writerow([key, value])

#Take not found values and create excel file with those

not_found ={}
for (key, value) in dict_countries.items():
   if value == "Not Found":
       not_found[key] = value

with open('temp_not_found.csv', 'w') as csv_file:  
    writer = csv.writer(csv_file)
    for key, value in not_found.items():
        writer.writerow([key, value])


#Manual task, find countries for "Not-Found" cases
#Import original dictionary (that was exported) as dataframe
#dict to dataframe
countries_df = pd.read_csv('temp_dict_countries_output.csv', sep=",",header = None)

#give column names
countries_df.columns = ['Team', 'Country']

#print(countries_df.head())

#Import Manualy completed file

countries_not_found_df = pd.read_excel('country_not_found.xlsx', index_col=None)
#countries_not_found_df.head()

#replace not found values


df_combined = countries_df.merge(countries_not_found_df, how="left",on="Team")

#countries_df.where(countries_df["Country"] != "Not Found", )

df_combined["Country_x"]=np.where(df_combined["Country_x"]=="Not Found",df_combined.Country_y,df_combined.Country_x)
df_country_complete = df_combined.iloc[:,0:2]
df_country_complete.columns = ['Team', 'Country']
df_country_complete

            Team      Country
0      FC Prilly  Switzerland
1           Bari        Italy
2  Hoffenheim II      Germany

#### create dummy data frame

In [30]:
temp_all_df = pd.read_csv('temp_all_df_file.txt', sep=",")

In [31]:
temp_all_df.head()

,Unnamed: 0,Season,Name,Transfer Sum,From,To
0,0,Zugänge 20/21,Arthur Cabral,"4,40 Mio. €",FC Prilly,Bari
1,1,Zugänge 20/21,Kaly Sene,"4,00 Mio. €",Hoffenheim II,FC Prilly
2,2,Zugänge 20/21,Edon Zhegrova,"3,00 Mio. €",Bari,Hoffenheim II

#### Mapping Countries

In [135]:
#create two new fields FromCountry and ToCountry and map countries to clubs

#from_country_added_1 = temp_all_df.merge(df_country_complete, how="left",left_on = "From", right_on = "Team")
#from_country_added_2 = from_country_added.rename(columns = {'Country': 'FromCountry'})
#from_country_added_2.head()

#to_country_added_1 = from_country_added.merge(df_country_complete, how="left",left_on = "To", right_on = "Team")
#to_country_added_2 = to_country_added.rename(columns = {'Country': 'ToCountry'})
#to_country_added_2.head()


#df_country_complete = to_country_added[["Season","Name","Transfer Sum","From","FromCountry","To","ToCountry"]]
df_country_complete.head()

,Season,Name,Transfer Sum,From,FromCountry,To,ToCountry
0,Zugänge 20/21,Arthur Cabral,"4,40 Mio. €",FC Prilly,Switzerland,Bari,Italy
1,Zugänge 20/21,Kaly Sene,"4,00 Mio. €",Hoffenheim II,Germany,FC Prilly,Switzerland
2,Zugänge 20/21,Edon Zhegrova,"3,00 Mio. €",Bari,Italy,Hoffenheim II,Germany

In [ ]:
#Somehow add from language and to language